{% extends "projects/base_project.html" %}
{% load staticfiles %}

{% block container %}
<div class="col col-sm-10 col-md-8 col-lg-6 content">
    <article class="resume">
    <section id="projects">
    <div class="page-header no-top-margin"><h2>Projects</h2></div>

    <div class="container">
        <div class="row">

           <div class="list-group">
           {% for project in project_list %}
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{ project.name }}</h4>
                <p class="list-group-item-text">{{ project.description }}</p>
              </a>

              <ul id="tabs" class="nav nav-tabs">
                  <li class="active">
                      <a href="#tab{{ project.pk }}_1" data-toggle="tab">Features</a>
                  </li>
                  <li class="">
                      <a href="#tab{{ project.pk }}_2" data-toggle="tab">Stack</a>
                  </li>
                  {% if project.source_url %}
                  <li class="">
                      <a href="#tab{{ project.pk }}_3" data-toggle="tab">Source Code</a>
                  </li>
                  {% endif %}
              </ul>

              <div class="tab-content">
                  <div class="tab-pane well fade active in" id="tab{{ project.pk }}_1">
                      <ul>
                          {% for feature in project.features.all %}
                          <li>{{ feature.name }}</li>
                          {% endfor %}
                      </ul>
                  </div>
                  <div class="tab-pane well" id="tab{{ project.pk }}_2">
                      <div class="cloud">
                          {% for item in project.stack_items.all %}
                          <span class="label label-inverse">{{ item.name }}</span>
                          {% endfor %}
                      </div>
                  </div>
                  {% if project.source_url %}
                  <div class="tab-pane well" id="tab{{ project.pk }}_3">
                          <p>
                              <a target="_blank" href="{{ project.source_url }}">{{ project.source_url }}</a>
                          </p>
                  </div>
                  {% endif %}

              </div>
           {% endfor %}
            </div>


            {% comment %}
            <div class="col col-md-8 col-sm-12">
                <div> p1 </div>
                <div id="contact"><strong>Contact:</strong></div>
                <a href="mailto:pkalinsky@greenlightgo.co">pkalinsky@greenlightgo.co</a>
                <address>
                    4545 Center Blvd, Apt 406<br>
                    Long Island City, NY 11109<br>
                </address>
            </div>

            <div class="col-md-4 hidden-sm">
                <img src="{% static 'img/pk-200x212.png' %}" width="200" height="212" align="right" style="padding: 0 0 20px 20px;" alt="Philip I Thomas"/>
            </div>
            {% endcomment %}
        </div>
    </div>

    </section>
    </article>
</div>

{% endblock %}
