<!--div class="page-header"><h2>Experience</h2></div-->

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">The Engagement Game Lab</h4>
        <h4 class="right col-sm-4 hidden-xs">Boston, MA</h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-4"> Consultant </h5>
        <h5 class="right col-sm-8 hidden-xs"> Oct 2011 - Now </h5>
    </div>
    <ul>
        <li>Built a web based multiplayer game for civic engagement. https://communityplanit.org</li>
        <li>Full multilingual support of static and database backed content</li>
        <li>Automated demographic and activity data metrics reporting</li>
        <li>uWSGI to Django integration using MessagePack as the serialization format.</li>
        <li>Caching of nearly entire database backed content</li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-6"> Mirimus Inc </h4>
        <h4 class="right col-sm-6 hidden-xs"> Long Island, NY </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-4"> Consultant </h5>
        <h5 class="right col-sm-8 hidden-xs"> Oct 2011 - Now </h5>
    </div>
    <ul>
        <li> Sole software developer for biotech start-up, built custom system for operations processes and product development </li>
        <li> Applied bioinformatics tools for large dataset analyses to minimize manual labor requirements  </li>
        <li> Established framework for a database of genome-wide sequence mining with custom features for inventory tracking  </li>
        <li> Created automated internal BLAST sequence alignment tool for processing millions of DNA sequence reads  </li>
        <li> Utilized biopython library to integrate with NCBI GenBank gene database with Mirimus inventory  </li>
        <li> Created project management tool to track orders, pipeline processes and shipments with automation </li>
    </ul>
</div>


<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-6"> RedRover.co </h4>
        <h4 class="right col-sm-6 hidden-xs"> New York, NY </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-4"> Consultant </h5>
        <h5 class="right col-sm-8 hidden-xs"> June 2013 - Jan 2014 </h5>
    </div>
    <ul>
        <li> configured a cluster of services managed by uWSGI platform  </li>
        <li> Architected a web scraper installation based on the python Scrapy framework  </li>
        <li> Implemented a workflow interface allowing a team of outsourced developers/scrapers to communicate with the staff resulting in gathering content across hundreds of publishers  </li>
        <li> Wrote client/server messaging using the ZeroMQ messaging library  </li>
        <li> Made use of the various messaging patterns in implementing cross language (Python, Ruby) communication between the scraper and importer systems  </li>
        <li> Ruby on Rails web development  </li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-6"> Remarketing of America LLC </h4>
        <h4 class="right col-sm-6 hidden-xs"> Los Angeles, NY </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-4"> Consultant </h5>
        <h5 class="right col-sm-8 hidden-xs"> October 2010 - April 2013 </h5>
    </div>
    <ul>
        <li>Implemented Django based online asset tracking system and insurance claim processing over a SOAP Web Service</li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-6"> Seesaw LLC </h4>
        <h4 class="right col-sm-6 hidden-xs"> New York, NY </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-4"> Lead Developer </h5>
        <h5 class="right col-sm-8 hidden-xs"> November 2008 - October 2010 </h5>
    </div>
    <ul>
        Lead developer on a number of Python/Django projects
        <li>
            Pinax based community at http://doublecrossvodka.com and http://motorlounge.com/
        </li>
        <li>
            Satchmo cart at http://www.benjaminmoore.com/
        </li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-6"> The Feedroom Inc. </h4>
        <h4 class="right col-sm-6 hidden-xs"> New York, NY </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-4"> Lead Developer </h5>
        <h5 class="right col-sm-8 hidden-xs"> November 2008 - October 2010 </h5>
    </div>
    <ul>
        <li>
            Carried out software development for a company specializing in online video streaming and digital asset management.
        </li>
        <li>
            Worked on a system dealing with automated ingestion of rich media content as well as the associated metadata into the enterprise asset management solution. Deliverables included automated transcoding of assets, upload status monitoring. The system supports an API based on the RESTful web services.
        </li>
    </ul>
</div>

